<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zoggy Foods</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/homestyle.css}">
    <script th:src="@{/js/home.js}"></script>
</head>
<body>
<div class="background">
    <div class="container">
        <div class="navbar">
            <a href="/" id="imageLink">
                <img th:src="@{/images/burger.png}" alt="Burger Image">
            </a>

            <h1>Zoggy Foods</h1>
            <div class="nav-links">
                <span class="nav-link">Profile</span>
                <a href="cart"><span  class="nav-link">Cart</span></a>
                <a class="side-link"><button onclick="function logout() {
                localStorage.setItem('Authorization',null);
                window.location.href = '/login';
                }
                logout()">LogOut</button></a>

            </div>
        </div>
        <div class="main-content">
            <h2 th:text="${message}"></h2>
            <p>In the mood for food</p>
            <a href="/restaurants" id="menubtn">Go to menu</a>
        </div>
    </div>
</div>


</body>
</html>
