<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="#" method="post"> <!-- Removed Thymeleaf action and object -->
                <h2>Enter product details</h2>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" required class="form-control" id="email">
                    <div id="emailHelp" class="form-text">
                        We'll never share your email with anyone else.
                    </div>
                    <p style="color: red"></p> <!-- Removed Thymeleaf validation error handling -->
                </div>
                <div class="mb-3">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" required class="form-control" id="amount">
                    <p style="color: red"></p> <!-- Removed Thymeleaf validation error handling -->
                </div>
                <div class="mb-3">
                    <label for="productName" class="form-label">Product Name</label>
                    <input type="text" required class="form-control" id="productName">
                    <p style="color: red"></p> <!-- Removed Thymeleaf validation error handling -->
                </div>
                <button type="submit" class="btn btn-primary" onclick="redirectToCheckout()">Submit</button>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>


</body>
</html>
